.u-center-text {
   text-align: center !important;
}
.u-margin-bottom-big {
   margin-bottom: 8rem;
}
.u-background-margin {
   background-color: $color-grey-light;
   margin: -26rem 0;
   padding: 26rem 0;
}

.u-text-gradient {
   display: inline-block;
   color: transparent;
   background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
   );
   -webkit-background-clip: text;
   transition: all 0.2s;
   font-size: 3.4rem;
   letter-spacing: 0.4rem;
   text-transform: uppercase;
   letter-spacing: 0.4rem;
   cursor: pointer;
   &:hover {
      transform: skewY(3deg) scale(1.1);
      text-shadow: 1rem 1.5rem 2rem rgba($color-black, 0.2);
   }
}
.u-course-text-border {
   border-top: 1px solid #dbdbdb;
   border-bottom: 1px solid #dbdbdb;
}
