$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-grey: #777777;
$color-grey-dark: #333;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-orange: #ff7730;

$color-course-1-l: #ffb900;
$color-course-1-d: #ff7730;
$color-course-2-l: $color-primary-light;
$color-course-2-d: $color-primary-dark;
$color-course-3-l: #55c57a;
$color-course-3-d: #28b485;

$url-course-1: url("../img/involve1.jpg");
$url-course-2: url("../img/involve2.jpg");
$url-course-3: url("../img/involve3.jpg");

$height-card: 45rem;
